# ---------- Core ----------
flask==2.3.3
flask-cors==4.0.0

# ---------- ML ----------
torch==2.1.0                 # CPU wheel (change to +cu118 if CUDA)
scikit-learn==1.3.2          # Min-Max scaler
numpy==1.24.3
scipy==1.11.4                # signal processing (band-pass, EMD)

# ---------- EMG feature ----------
PyEMD==1.3.0                 # EMD-CCT pipeline